# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives:**
* List popular languages for Data Science
* Commonly used libraries in Data Science
* Arithmetic expressions

## Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Octave
5. MATLAB

# Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Scikit-learn
3. Keras

|Data Science Tools|
| ---------------- |
| GitHub |
| Hadoop |
| Apache Airflow |


### Below are a few examples of evaluating arithmetic expressions in Python

### 4 + 4 = 8
### 1 + 2 +...+ n = n(n + 1)/2

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
m2hours = round(minutes/60, 2)
print( "{} minutes = {} hours".format(minutes, m2hours) )

200 minutes = 3.33 hours

## Author
Jazael